coursework/Cosmological_Parameters/old/
coursework/Cosmological_Parameters/COM_CosmoParams_base-plikHM-TTTEEE-lowl-lowE_R3.00/
coursework/Cosmological_Parameters/prototype/
coursework/Cosmological_Parameters/.ipynb_checkpoints/